# .gitignore

# Arquivos gerados pelo Elixir
_build/
deps/
cover/
erl_crash.dump
elixir_crash.dump
*.ez
*.beam

# Arquivos gerados pelo Docker
.docker/
.docker-compose.yml
.dockerignore

# Arquivos de ambiente
.env

# Logs
log/

